<Configuration>
  <RemoteHost hostname="VMSPPLAV" destination="C:\Logs\Processed" />
  <LastScopaDate>2/27/2016 5:07:08 PM</LastScopaDate>
  <Logs>
    <Log type="SP2013">
      <LocalPath>C:\Logs\SP2013</LocalPath>
      <FileNamePattern>^([\w0-9]+)-([\d]{8})-[\d]{4}.log$</FileNamePattern>
    </Log>
    <Log type="IIS">
      <LocalPath>C:\Logs\IIS</LocalPath>
      <FileNamePattern>^u_ex([\d]{6}).log$</FileNamePattern>
    </Log>
  </Logs>
</Configuration>