<RemoteClients>
	<RemoteClient hostname="VMSPPLAV">
		<LogPaths>
			<LogPath>\\VMSPPLAV\c$\Logs\SP2013</LogUncPath>
			<LogPath>\\VMSPPLAV\c$\Logs\IIS</LogUncPath>
		</LogPaths>
    <LastIncrementalFetch></LastIncrementalFetch>
	</RemoteClient>
	<RemoteClient hostname="VMSPPHIL">
		<LogPaths>
			<LogPath>\\VMSPPHIL\c$\Logs\SP2013</LogUncPath>
			<LogPath>\\VMSPPHIL\c$\Logs\IIS</LogUncPath>
		</LogPaths>
    <LastIncrementalFetch></LastIncrementalFetch>
	</RemoteClient>
</RemoteClients>